body{
    background-image: linear-gradient(to bottom,skyblue,white,skyblue,white) ;
}





	#button{
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin-right : 10px;
    cursor: pointer;
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,white,lightblue,lightblue,white);}

.pengertian{
    margin-left: 20px;
    width: 1000px;
}

.penerimaan{
    margin-left: 20px;
    width: 1000px;
}

.PUBGMobile{
    margin-left: 20px;
    width: 1000px;
}


.heading{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}


.definisi{
    color: red;
}


.infoboxproduct{
    width:22em;float: right; 
    width: 264px; font-size: 88%; 
    text-align: left; border-spacing: 3px;
    margin-left: 70px;
}


.col{
    text-align:center;font-size:125%;
    font-weight:bold;font-size:110%;
    font-style:italic;
}

.ProPlayyer{
    margin-left: 20px;
    width: auto;
    margin-right: 334px;
}


.container-menu{
    margin-left: 30px;
    width: 1000px;
}

.penghargaan{
    margin-left: 20px;
    width: 1000px;
}    

.larangan{
    margin-left: 20px;
    width: 1000px;
}    





    



